﻿@using BattleShip.Domain
@using BattleShip.WebClient.Areas.Game.Models
@using BattleShip.WebClient.Areas.Game
@model  IEnumerable<ShipDefinitionModel>

<div class="battelship-shipSelector" data-bind="foreach: { data: definitions, as: 'shipDefinition' }">
    <div data-bind="click: $parent.onShipDefinitionClick, css: { 'battelship-shipselector-selected': isSelected, shipSelectorRow: true }">
        <span class="shipSelectorMast" data-bind="multiple: shipDefinition.Masts">
            <span class="battelship-shipSelector-def" />
        </span>
        <span class="battelship-shipSelector-counter" data-bind="text: shipDefinition.AmountOfShips" />
    </div>
</div>