﻿@using BattleShip.Domain
@using BattleShip.WebClient.Areas.Game
@model  BattleShip.WebClient.Areas.Game.Models.GamePlanningModel
@{    
    Layout = MVC.Shared.Views._Layout4SPA;
}

@section ViewTitle{
@Html.Partial(MVC.Game.Shared.Views._GameTitlePartial)
}

@section ViewBar {
    @Html.Partial(MVC.Game.Shared.Views._GameStatusPartial)
}

<div data-bind="event: { contextmenu: changeDirection}">
    <div class="battelship-boards">
        <section data-bind="with: playerSeaMap">
            <div>
                @Html.LabelFor((m) => m.PlayerSeaMap)
                @Html.Partial(MVC.Game.Shared.Views._ISeaMapPartial, Model.PlayerSeaMap)
            </div>
        </section>
        <section>
            <div data-bind="with: shipSelector">
                @Html.LabelFor((m) => m.ShipsDefinitions)
                @Html.Partial(MVC.Game.Planning.Views._ShipSelectorPartial, Model.ShipsDefinitions)
            </div> 
            <div class="battelShip-startgame">
                @using (Html.BeginForm(MVC.Game.Planning.SubmitShipPlacement().AddRouteValue("id", Model.PlayerContextId), FormMethod.Post, new { data_bind = "attr: { action: routingAction }" }))
                {
                    @Html.Hidden("ships", null, new { data_bind = "value: submitValue" });
                    <input type="submit" value="Start Game" data-bind="enable: canStartGame" />
                }
            </div>
        </section>
    </div>
    <div class="clearfix"></div>
</div>

@section ViewFooter{
   *) Right click moves round ship. 
}