﻿@{
    Layout = null;
}

<div id="accountInfoView">
    <a href="#" class="battelship-auth navbar-right"
       data-toggle="tooltip" data-placement="bottom"
       data-bind="visible: isSignedIn, text: user.name, attr: { title: user.name() + ' is signed in. Click to log out' }, click: signOut">
    </a>
</div>

