﻿@{
    ViewBag.Title = "Login";
    Layout = null;
}
<section id="signInView">

    <p>
        If you would like to play, please login by using one of following provider:
        <ul data-bind="foreach: providers">
            <li>
                <a data-bind="text: authenticationType, attr:{ href: url, title: 'Log in using your ' + caption + ' account'  } ">

                </a>
            </li>
        </ul>
    </p>
    <p>
        You can also play as a guest, enter your nick name
        <div>
            <input width="30" data-bind="value: guestName" />
            <button data-bind="click: playAsGuest">Play</button>
        </div>
    </p>

</section>