@{
    Layout = null;
}
<div class="menuGamesView" style="display: none;" data-bind="visible: visible">
    <div class="battelShip-viewBar row">
        <h2>Games</h2>
        <div class="battelShip-viewBar-controls">
            <button type="button" class="btn visible-xs visible-sm menuGamesViewBtn" data-toggle="collapse" data-target="#menuGames">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <div class="battelShip-viewBody row">
        <div id="menuGames" class="metro navbar-collapse collapse">
            <ul class="nav">                
                <li>
                    <a href="#" title="public games view" class="tile square text bg-color-blue" data-bind="attr: { href: gameRoomUrl }, css: battleShip.portal.presenter.getGameMenuTileClass(null, gamesRoomIsActive())">
                        <div class="text">Games</div>
                        <div class="text">Room</div>
                    </a>
                </li>                    
                <!-- ko template: { foreach: playerGamesList, beforeRemove: battleShip.portal.presenter.hideTileElementV, afterAdd: battleShip.portal.presenter.showTileElementV } -->
                <li>
                    <a class="tile square text bg-color-blue" data-bind="attr: { href: $data.url, title:$data.description }, css: battleShip.portal.presenter.getGameMenuTileClass($data.status(), $data.isActive())" href="#">
                        <div data-bind="text: $data.playerOneName" class="text text-overflow-wrap"></div>
                        <!-- ko if: $data.playerTwoName()!=null -->
                        <div class="text"><small>vs</small></div>
                        <div data-bind="text: $data.playerTwoName" class="text text-overflow-wrap"></div>
                        <div class="text"><small data-bind="text: $data.gameName"></small></div>
                        <!-- /ko -->
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
</div>