﻿@battelship-board-color: #dffaf7;
@border-color: #e5e5e5;
@bar-color: #fafafa;
@game-select-color: rgba(250, 222, 5, 0.54);
@game-select-color2: #fee30d;
@game-error-color: #f70606;
@game-info-color: #aadbd6;

@media screen and (max-width: 992px) {
    #menuGames.collapse {
        display: none !important;        
    }

    .menuGamesView {
        width: 100%;

        .battelShip-viewBody {
            padding: 0px;
            border-top-width: 0px;
        }
    }
}

@media screen and (min-width: 993px) {
    .menuGamesView {
        width: 120px;

        .battelShip-viewBar {
            text-align: center;
        }
    }
}

.menuGamesViewBtn {
    padding: 6px 8px;
    margin: 2px 0px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #000000;
    border-color: rgba(0, 0, 0, 0.20);

    span {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #cccccc;
        color: #000000;
        margin-top: 4px;
    }
}


.tileActive {
    //@border-color
    outline: 3px #161713 solid;
}


.battelShip-searchGame {
    vertical-align: middle !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 26px !important;
    min-height: 26px !important;
    width: 100px !important;
}

.battleShip-view {
}

.battelShip-viewBar {
    background-color: @bar-color;
    border-color: @border-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
}

    .battelShip-viewBar h2 {
        display: inline;
    }

.battelShip-viewBar-controls {
    float: right;
    margin-top: 1px;
    margin-right: 5px;
}


.battelShip-viewBody {
    border-color: @border-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 4px 4px;
    padding: 10px 4px 10px 4px;
}

.battelship-boards {
    text-align: center;
}

    .battelship-boards section {
        margin: 5px;
        float: left;
    }


.battelship-boardDesc {
    background-color: @bar-color;
    font-weight: bold;
}


@battelship-board-piece: 28px;

.battelship-board {
    vertical-align: central;
    text-align: center;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    background-color: @battelship-board-color;

    tbody {
        tr {
            td {
                text-align: center;
                height: @battelship-board-piece;
                width: @battelship-board-piece;

                div {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    vertical-align: central;
                    font-weight: bold;
                    font-size: large;
                }
            }

                td:first-child {
                    .battelship-boardDesc
                }
        }

            tr:first-child td {
                .battelship-boardDesc
            }
    }
}


.battelship-boardPiece {
}



/* Ship is there, but not hit   */
.battelship-boardPiece-NoHit:before {
    color: #03011e;
    content: "\e014";
}

.battelship-boardPiece-NoHit {
}


.battelship-boardPiece-Hit:before {
    color: #8d0606;
    content: "\e088";
}


.battelship-boardPiece-HitAndSunken:before {
    color: #a9a1a1;
    content: "\e083";
}


.battelship-boardPiece-Mishit:before {
    color: #000000;
    content: ".";
    position: relative;
    top: -6px;
}

.battelship-boardPiece-Selected {
    background-color: @game-select-color;
}

.battelship-boardPiece-Error {
    background-color: @game-error-color;
}

.battelship-boardPiece-Info {
    background-color: @game-info-color;
}

.battelship-status {
    text-align: left;
    font-size: medium;
    margin-top: 4px;
}

.battelship-shipselector-selected {
    background-color: @game-select-color;
}


.battelship-shipSelector {
    width: @battelship-board-piece*3;
    text-align: right;
    vertical-align: central;
    margin-left: @battelship-board-piece*7;
    cursor: pointer;
}

.battelship-shipSelector-def::before {
    color: #03011e;
    content: "\e014";
    font-family: 'Glyphicons Halflings';
}

.battelship-shipSelector-counter {
    font-weight: bold;
}

.battelShip-startgame {
    text-align: right;
    position: relative;
    top: 60px;
}


.battelship-loader {
    text-align: center;
    vertical-align: central;
}

.battelship-footer {
    background-color: @bar-color;
    width: 100%;
}


#mainModalInfo {
    background-color: transparent;
    overflow-y: auto;
    overflow-x: auto;
    min-width: 600px;
}

.battelship-auth {
    padding: 10px 15px 10px 15px;
}



.tileFlowVertical-frames() {
    0% {
        visibility: hidden;
        opacity: 0;
        height: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    85% {
        visibility: hidden;
        opacity: 0;
        height: 120px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    100% {
        opacity: 1;
        visibility: visible;
        height: 120px;
    }
}

.tileFlowVertical-Reversframes() {

    0% {
        opacity: 1;
        visibility: visible;
        height: 120px;
    }

    15% {
        visibility: hidden;
        opacity: 0;
        height: 120px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    100% {
        visibility: hidden;
        opacity: 0;
        height: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}



.tileFlowHorizontal-frames() {
    0% {
        visibility: hidden;
        opacity: 0;
        width: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    85% {
        visibility: hidden;
        opacity: 0;
        width: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    100% {
        opacity: 1;
        visibility: visible;
        width: 100px;
    }
}


.tileFlowHorizontal-Reversframes() {

    0% {
        opacity: 1;
        visibility: visible;
        width: 100px;
    }

    15% {
        visibility: hidden;
        opacity: 0;
        width: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    100% {
        visibility: hidden;
        opacity: 0;
        width: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}



@-webkit-keyframes tileFlowVertical {
    .tileFlowVertical-frames;
} 
@-moz-keyframes tileFlowVertical {
   .tileFlowVertical-frames;
}
@-o-keyframes tileFlowVertical {
   .tileFlowVertical-frames;
}
@keyframes tileFlowVertical {
   .tileFlowVertical-frames;
}


@-webkit-keyframes tileFlowVerticalRevers {
    .tileFlowVertical-Reversframes();
} 
@-moz-keyframes tileFlowVerticalRevers {
   .tileFlowVertical-Reversframes();
}
@-o-keyframes tileFlowVerticalRevers {
   .tileFlowVertical-Reversframes();
}
@keyframes tileFlowVerticalRevers {
   .tileFlowVertical-Reversframes();
}



@-webkit-keyframes tileFlowHorizontal {
    .tileFlowHorizontal-frames;
} 
@-moz-keyframes tileFlowHorizontal {
   .tileFlowHorizontal-frames;
}
@-o-keyframes tileFlowHorizontal {
   .tileFlowHorizontal-frames;
}
@keyframes tileFlowHorizontal {
   .tileFlowHorizontal-frames;
}


@-webkit-keyframes tileFlowHorizontalRevers {
    .tileFlowHorizontal-Reversframes;
} 
@-moz-keyframes tileFlowHorizontalRevers {
   .tileFlowHorizontal-Reversframes;
}
@-o-keyframes tileFlowHorizontalRevers {
   .tileFlowHorizontal-Reversframes;
}
@keyframes tileFlowHorizontalRevers {
   .tileFlowHorizontal-Reversframes;
}


@tileSetInVertical-animation: tileFlowVertical 0.9s;
@tileSetOutVertical-animation: tileFlowVerticalRevers 0.9s;

@tileSetInHorizontal-animation: tileFlowHorizontal 0.9s;
@tileSetOutHorizontal-animation: tileFlowHorizontalRevers 0.9s;


.tileAnimationSetInV {
  -webkit-animation: @tileSetInVertical-animation;
  -moz-animation:    @tileSetInVertical-animation;
  -o-animation:      @tileSetInVertical-animation;
  animation:         @tileSetInVertical-animation;
}

.tileAnimationSetOutV {
  -webkit-animation: @tileSetOutVertical-animation;
  -moz-animation:    @tileSetOutVertical-animation;
  -o-animation:      @tileSetOutVertical-animation;
  animation:         @tileSetOutVertical-animation;
}

.tileAnimationSetInH {
  -webkit-animation: @tileSetInHorizontal-animation;
  -moz-animation:    @tileSetInHorizontal-animation;
  -o-animation:      @tileSetInHorizontal-animation;
  animation:         @tileSetInHorizontal-animation;
}

.tileAnimationSetOutH {
  -webkit-animation: @tileSetOutHorizontal-animation;
  -moz-animation:    @tileSetOutHorizontal-animation;
  -o-animation:      @tileSetOutHorizontal-animation;
  animation:         @tileSetOutHorizontal-animation;
}