﻿@media screen and (max-width: 992px) {
  #menuGames.collapse {
    display: none !important;
  }
  .menuGamesView {
    width: 100%;
  }
  .menuGamesView .battelShip-viewBody {
    padding: 0px;
    border-top-width: 0px;
  }
}
@media screen and (min-width: 993px) {
  .menuGamesView {
    width: 120px;
  }
  .menuGamesView .battelShip-viewBar {
    text-align: center;
  }
}
.menuGamesViewBtn {
  padding: 6px 8px;
  margin: 2px 0px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.2);
}
.menuGamesViewBtn span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #cccccc;
  color: #000000;
  margin-top: 4px;
}
.tileActive {
  outline: 3px #161713 solid;
}
.battelShip-searchGame {
  vertical-align: middle !important;
  margin: 0px !important;
  padding: 0px !important;
  height: 26px !important;
  min-height: 26px !important;
  width: 100px !important;
}
.battelShip-viewBar {
  background-color: #fafafa;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  padding-left: 10px;
}
.battelShip-viewBar h2 {
  display: inline;
}
.battelShip-viewBar-controls {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
}
.battelShip-viewBody {
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 4px 4px;
  padding: 10px 4px 10px 4px;
}
.battelship-boards {
  text-align: center;
}
.battelship-boards section {
  margin: 5px;
  float: left;
}
.battelship-boardDesc {
  background-color: #fafafa;
  font-weight: bold;
}
.battelship-board {
  vertical-align: central;
  text-align: center;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  background-color: #dffaf7;
}
.battelship-board tbody tr td {
  text-align: center;
  height: 28px;
  width: 28px;
}
.battelship-board tbody tr td div {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: central;
  font-weight: bold;
  font-size: large;
}
.battelship-board tbody tr td:first-child {
  background-color: #fafafa;
  font-weight: bold;
}
.battelship-board tbody tr:first-child td {
  background-color: #fafafa;
  font-weight: bold;
}
/* Ship is there, but not hit   */
.battelship-boardPiece-NoHit:before {
  color: #03011e;
  content: "\e014";
}
.battelship-boardPiece-Hit:before {
  color: #8d0606;
  content: "\e088";
}
.battelship-boardPiece-HitAndSunken:before {
  color: #a9a1a1;
  content: "\e083";
}
.battelship-boardPiece-Mishit:before {
  color: #000000;
  content: ".";
  position: relative;
  top: -6px;
}
.battelship-boardPiece-Selected {
  background-color: rgba(250, 222, 5, 0.54);
}
.battelship-boardPiece-Error {
  background-color: #f70606;
}
.battelship-boardPiece-Info {
  background-color: #aadbd6;
}
.battelship-status {
  text-align: left;
  font-size: medium;
  margin-top: 4px;
}
.battelship-shipselector-selected {
  background-color: rgba(250, 222, 5, 0.54);
}
.battelship-shipSelector {
  width: 84px;
  text-align: right;
  vertical-align: central;
  margin-left: 196px;
  cursor: pointer;
}
.battelship-shipSelector-def::before {
  color: #03011e;
  content: "\e014";
  font-family: 'Glyphicons Halflings';
}
.battelship-shipSelector-counter {
  font-weight: bold;
}
.battelShip-startgame {
  text-align: right;
  position: relative;
  top: 60px;
}
.battelship-loader {
  text-align: center;
  vertical-align: central;
}
.battelship-footer {
  background-color: #fafafa;
  width: 100%;
}
#mainModalInfo {
  background-color: transparent;
  overflow-y: auto;
  overflow-x: auto;
  min-width: 600px;
}
.battelship-auth {
  padding: 10px 15px 10px 15px;
}
@-webkit-keyframes tileFlowVertical {
  0% {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  85% {
    visibility: hidden;
    opacity: 0;
    height: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    height: 120px;
  }
}
@-moz-keyframes tileFlowVertical {
  0% {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  85% {
    visibility: hidden;
    opacity: 0;
    height: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    height: 120px;
  }
}
@-o-keyframes tileFlowVertical {
  0% {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  85% {
    visibility: hidden;
    opacity: 0;
    height: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    height: 120px;
  }
}
@keyframes tileFlowVertical {
  0% {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  85% {
    visibility: hidden;
    opacity: 0;
    height: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    height: 120px;
  }
}
@-webkit-keyframes tileFlowVerticalRevers {
  0% {
    opacity: 1;
    visibility: visible;
    height: 120px;
  }
  15% {
    visibility: hidden;
    opacity: 0;
    height: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
@-moz-keyframes tileFlowVerticalRevers {
  0% {
    opacity: 1;
    visibility: visible;
    height: 120px;
  }
  15% {
    visibility: hidden;
    opacity: 0;
    height: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
@-o-keyframes tileFlowVerticalRevers {
  0% {
    opacity: 1;
    visibility: visible;
    height: 120px;
  }
  15% {
    visibility: hidden;
    opacity: 0;
    height: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
@keyframes tileFlowVerticalRevers {
  0% {
    opacity: 1;
    visibility: visible;
    height: 120px;
  }
  15% {
    visibility: hidden;
    opacity: 0;
    height: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
@-webkit-keyframes tileFlowHorizontal {
  0% {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  85% {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    width: 100px;
  }
}
@-moz-keyframes tileFlowHorizontal {
  0% {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  85% {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    width: 100px;
  }
}
@-o-keyframes tileFlowHorizontal {
  0% {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  85% {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    width: 100px;
  }
}
@keyframes tileFlowHorizontal {
  0% {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  85% {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    width: 100px;
  }
}
@-webkit-keyframes tileFlowHorizontalRevers {
  0% {
    opacity: 1;
    visibility: visible;
    width: 100px;
  }
  15% {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@-moz-keyframes tileFlowHorizontalRevers {
  0% {
    opacity: 1;
    visibility: visible;
    width: 100px;
  }
  15% {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@-o-keyframes tileFlowHorizontalRevers {
  0% {
    opacity: 1;
    visibility: visible;
    width: 100px;
  }
  15% {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@keyframes tileFlowHorizontalRevers {
  0% {
    opacity: 1;
    visibility: visible;
    width: 100px;
  }
  15% {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.tileAnimationSetInV {
  -webkit-animation: tileFlowVertical 0.9s;
  -moz-animation: tileFlowVertical 0.9s;
  -o-animation: tileFlowVertical 0.9s;
  animation: tileFlowVertical 0.9s;
}
.tileAnimationSetOutV {
  -webkit-animation: tileFlowVerticalRevers 0.9s;
  -moz-animation: tileFlowVerticalRevers 0.9s;
  -o-animation: tileFlowVerticalRevers 0.9s;
  animation: tileFlowVerticalRevers 0.9s;
}
.tileAnimationSetInH {
  -webkit-animation: tileFlowHorizontal 0.9s;
  -moz-animation: tileFlowHorizontal 0.9s;
  -o-animation: tileFlowHorizontal 0.9s;
  animation: tileFlowHorizontal 0.9s;
}
.tileAnimationSetOutH {
  -webkit-animation: tileFlowHorizontalRevers 0.9s;
  -moz-animation: tileFlowHorizontalRevers 0.9s;
  -o-animation: tileFlowHorizontalRevers 0.9s;
  animation: tileFlowHorizontalRevers 0.9s;
}
