﻿@*
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">BattleShip Project</p>
            <p class="navbar-text pull-right"><a href="mailto:tomasz.weps@gmail.com">Tomasz Weps</a></p>
        </div>
    </div>
*@
