﻿<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuMain">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BattleShip</a>
        </div>
        <div id="menuMain" class="navbar-collapse collapse">
            @Html.Action(MVC.Portal.PlayerAccount.Info())            
            @Html.MvcSiteMap().Menu()
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
