﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>Battle Ship Game</title>
    <meta name="author" content="Tomasz Weps">
    <meta name="description" content="BattelShip it is old game, in new cover. This web applications is some kind of my private sansdbox for trying newest technologies.">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        @Html.Partial(MVC.Shared.Views._AppNavigationPartial)
    </header>
    
    @if (IsSectionDefined("LeftArea") || IsSectionDefined("RightArea"))
    { 
    <div class="container">
        <div class="row">
            <div id="leftArea" class="col-md-2">
                @RenderSection("LeftArea", required: false)
            </div>
            <div id="main" class="col-md-10 col-lg-10" role="main">
                @RenderSection("RightArea", required: false)
            </div>
        </div>
    </div>
    }
    @RenderBody() 
    <footer class="footer">
        @Html.Partial(MVC.Shared.Views._AppFooterPartial)
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
