﻿<div class="battleShip-view">
    <div class="battelShip-viewBar row">
        <h2>@RenderSection("ViewTitle", true)</h2>
        <div class="battelShip-viewBar-controls">
            @RenderSection("ViewBar", false)
        </div>
    </div>
    <div class="battelShip-viewBody row">
        @RenderBody()
    </div>
    @if(IsSectionDefined("ViewFooter"))    
    {
        <div class="battelShip-viewFooter row">
            @RenderSection("ViewFooter", false)
        </div>
    }
</div>


