@using BattleShip.Domain
@using BattleShip.WebClient.Areas.Game
@model BattleShip.WebClient.Areas.Game.Models.GameShootingModel

@{    
    Layout = MVC.Shared.Views._Layout4SPA;
}

@section ViewTitle{
@Html.Partial(MVC.Game.Shared.Views._GameTitlePartial)
}

@section ViewBar {
    @Html.Partial(MVC.Game.Shared.Views._GameStatusPartial)
}

<div class="battelship-boards">
    <section data-bind="with: playerSeaMap">
        @Html.LabelFor((m) => m.PlayerSeaMap)
        @Html.Partial(MVC.Game.Shared.Views._ISeaMapPartial, Model.PlayerSeaMap)
    </section>
    <section data-bind="with: opponentSeaMap">
        @Html.LabelFor((m) => m.OpponentSeaMap)
        @Html.Partial(MVC.Game.Shared.Views._ISeaMapPartial, Model.OpponentSeaMap)
    </section>
</div>
<div class="clearfix"></div>