﻿<!-- ko template: { foreach: openGamesList, beforeRemove: battleShip.portal.presenter.hideTileElementH, afterAdd: battleShip.portal.presenter.showTileElementH  } -->
<a data-bind="click: $parent.onGameItemClick, css: battleShip.portal.presenter.getGameSelectorTileClass($parent.isGameActive($data))"
   class="tile square text bg-color-purple" href="#" title="Join to Game">
    <div class="text4">Play with</div>
    <div data-bind="text: $data.playerOneName" class="text"></div>
</a>
<!-- /ko -->
