﻿<div data-bind="foreach:openGamesList">
    <a data-bind="click: $parent.onGameItemClick"
       class="tile square text bg-color-purple" href="#" title="Join to Game">
        <div class="text4">Play with</div>
        <div data-bind="text: playerOneName" class="text"></div>
    </a>
</div>
