﻿<!-- Sort DropDown -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Sort <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li data-bind="click: sortByNameCommand"><a href="#">By Name</a></li>
        <li data-bind="click: sortByDateCommand"><a href="#">By Date</a></li>
    </ul>
</div>
<!-- Search Box -->
<input type="search" data-bind="value: searchInput, valueUpdate: 'afterkeydown'" class="battelShip-searchGame" placeholder="Search Game" />
