@{    
    Layout = MVC.Shared.Views._Layout4SPA;
}

@section ViewTitle{
 Games Room
}

@section ViewBar {
    @Html.Partial(MVC.Portal.GameSelector.Views._SelectorControlBarPartial)
}

<div class="metro">
    <a data-bind="click: startNewGameCommand" class="tile square text bg-color-greenDark" href="#" title="Start new game and wait for opponent">
        <div class="text4">Create Game</div>
    </a>
    @Html.Partial(MVC.Portal.GameSelector.Views._GamesTilesPartial)    
</div>

@section ViewFooter{
<div data-bind="visible: noFreeToJoinInfo">
    *) Unfortunately there aren't any free games which you can join. Ask some of your friend to login and play with you.
</div>
}