﻿<div class="battelship-status" data-bind="with: gameInfo.status">     
    <span data-bind="visible: $data == battleShip.game.model.gameStatus.NotStarted">Not started</span>
    <span data-bind="visible: $data == battleShip.game.model.gameStatus.ShipsArrangement">Arrange your ships</span>
    <span data-bind="visible: $data == battleShip.game.model.gameStatus.WaitingForOpponent">Waiting for second player</span>
    <span data-bind="visible: $data == battleShip.game.model.gameStatus.PlayerTurn">It is your turn</span>
    <span data-bind="visible: $data == battleShip.game.model.gameStatus.OpponentTurn">It is opponent turn</span>
    <span data-bind="visible: $data == battleShip.game.model.gameStatus.PlayerHasWinTheMatch">You have win the match</span>
    <span data-bind="visible: $data == battleShip.game.model.gameStatus.PlayerHasLoseTheMatch">You have lose the match</span>
    <span data-bind="visible: $data == battleShip.game.model.gameStatus.WaitingForServer">waiting...</span>
</div>