@using BattleShip.WebClient.Areas.Game.Models
@model SeaMapModel
@{
    int maxY = Model.Pieces.Max((p) => p.Length);
    int maxX = Model.Pieces.Length;
}
<div data-bind="event: { mouseout: deselectPiece }">
    <table class="battelship-board table-bordered" data-bind="click: click">
        <tbody>
            <tr>
                <td />
                @for (var x = 0; x < maxX; x++)
                {
                    <td>@((Char)('A' + x))</td>
                }
            </tr>
            @for (var y = 0; y < maxY; y++)
            {
                <tr>
                    <td>@(y + 1)</td>
                    @for (int x = 0; x < maxX; x++)
                    {
                        <td data-bind="@("with: pieces[" + x + "][" + y + "]")">
                            <div data-bind="css: battleShip.game.presenter.getBoardPieceClass(state(), highlighting()), event: { mouseover: $parent.selectPiece}" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>